<%= form_tag pages_mainsearch_path, :method => 'post' do %>
  

          <div class="field">
            <%= label_tag :body %>
            <%= text_field_tag :body %>
          </div>

          <div class="field">
             <%= label_tag :member_id %>
             <%= select_tag :member_id,
             options_for_select(Member.all.collect {|m| ["#{m.mem_last_name},
             #{m.mem_first_name}", m.id]}), {} %>
          </div>

          <div class="field">
             <%= label_tag :visa_info_id %>
             <%= select_tag :visa_info_id,
             options_for_select(VisaInfo.all.collect {|v| ["#{v.id}", v.id]}), {} %>
          </div>

          <div class="actions">
            <%= submit_tag "Search" %>
          </div>

        <% end %>