<div class="row">
  <div class="col-md-6 col-md-offset-3" >

<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

                                
<div class="field">
    <%= form.label :Firstname %>
    <%= form.text_field :mem_first_name, :cols=>20, :rows=>20 %>
  </div>

  <div class="field">
    <%= form.label :Lastname %>
    <%= form.text_field :mem_last_name %>
  </div>

  <div class="field">
    <%= form.label :Username %>
    <%= form.text_field :username %>
  </div>
  
  <div class="field">
    <%= form.label :Password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :ConfirmPassword, "Confirm Password" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </div>
  

  <div class="field">
    <%= form.label :country_id%>
    <%= form.select :country_id,
        options_for_select(Country.all.collect{|a| ["#{a.country_name}", a.id]},
        selected: (@member.country ? @member.country.id : Country.first.id)), {} %>
  </div>

  <div class="actions">
    
     <%= form.submit %>
     
     <a href="/pages/mainsearch"> 
   
  </div>
  <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
<% end %>
</div>
</div>



              

           

