
<!--
/*<h1>Welcome to VISA GRID</h1>
<%= 'BLOG ARTICLE' %>
Time= <%= @curr_time %> */

 -->

 <h1>VISA GRID</h1>
<div class="jumbotron">
 <div class="container">
 <p>Assisting you in your travel plans. We have the VISA info that you need</p>
 <p><a class="btn btn-primary btn-lg" href="#logreg-forms" role="button">Login to get more info</a></p>
 </div>
 </div>
<div class="container-fluid">
 <!-- Example row of columns -->
 
     
     <% @blogs.each do |blog| %>
     <div class="col-md-4">
     <h2><%= blog.title%></h2>
     <p><%=blog.description.truncate_words(150)%></p>
     <p>
     <%= link_to 'Read more >', blog, class: "btn btn-default"%>
     </p>
     </div>
    <% end %>
  

   
     
  

 <div class="col-md-4">
 <div id="logreg-forms">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Log in</h1>
            
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            
            <button class="btn btn btn-block" align="center" type="submit"><i class="fas fa-sign-in-alt"></i><a href="/pages/mainsearch"> Sign in  (Already a member?)</a></button>
            <p style="text-align:center"> OR  </p>
            <div class="social-login">

                <button class="btn facebook-btn social-btn btn-block" type="submit"><i class="fab fa-facebook-f" style="color:white"></i> Sign in with Facebook</button>
            </div>

            <p style="text-align:center"> OR  </p>
            <button class="btn btn-success btn-block" align="center" type="submit" id="btn-guest"><i class="fas fa-sign-in-alt"></i> Sign in as GUEST USER</button>

            <a href="#" id="forgot_pswd">Forgot password?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
        </form>

        <form action="/reset/password/" class="form-reset">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Reset Password</h1>
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>
        <div class="form-guest">
          <%= render 'guestForm', user: @user %>
        </div>

        <div class="form-signup">
          <%= render 'memberForm', member: @member %>
        </div>
<!-- 
         
        <form action="/signin/guest" class="form-guest">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Guest User Log in</h1>
            <input class="form-control" type="text" id="guestuser-firstname" placeholder="First name" required="" autofocus="">
            <input class="form-control" type="text" id="guestuser-lastname" placeholder="Last name" required="" autofocus="">
            <select name="country">
                <option value="USA">USA</option>
                <option value="Nepal">Nepal</option>
                <option value="Canada">Canada</option>

            </select>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
            <a href="#" id="cancel_guest"><i class="fas fa-angle-left"></i> Back</a>
        </form>
        -->
            
        <!-- <form action="/signup/" class="form-signup">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
                                
            <p style="text-align:center">OR</p>
                <!--
                <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
                <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
                <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
                <input type="password" id="user-repeatpass" class="form-control" placeholder="Confirm Password" required autofocus="">-->

              

           <!--  <input class="form-control" id="user-firstname" type="text" name="First Name" placeholder="First name" required="">
          	<input class="form-control" id="user-lastname" type="text" name="Last name" placeholder="Last name" required="">
          	<input class="form-control" id="user-name" type="text" name="Username" placeholder="Username" required="">
          	<input class="form-control" id="user-email" type="email" name="email" placeholder="Email" required="">
          	<input class="form-control" id="user-pass" type="password" name="password" placeholder="Password" required="">
          	<input class="form-control" id="user-repeatpass" type="password" name="password" placeholder="Confirm Password" required=""> -->
          <!--Need to associate in order to link another table and create drop-down list--->
         	<!-- <input class="form-control" id="user-nationality" type="text" name="nationality" placeholder="Nationality" required=""> -->



          	<!-- <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button> 
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>



        </form> -->
            <br>
            
    </div>
    <p style="text-align:center">

    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
 </div>
  </div>
 <hr>
 <footer>
 <p>Sitemap</p>
 </footer>
</div> 