

<div class="container col-sm-12">
          <div class="col-sm-3 col-md-3">
            <div class="panel panel-success">
               <div class="panel-heading">
                    <h3 class="panel-title">Check your VISA requirements</h3>
                </div>
              <div class="panel-body">
                  

                      <%= form_tag pages_mainsearch_path, :method => 'get' do %>
                      <div class = "form-group">
                        <%=label_tag "Nationality"%>
                          <%= select_tag :nationality_id,  options_for_select(Country.all.collect{|a| ["#{a.country_name}", a.id]}, params[:nationality_id] ), class: "form-control", :style => "height:40px"%>
                      </div>
                      
                      <div class = "form-group">
                        <%=label_tag "Source"%>
                         <%= select_tag :source_id,
                                        options_for_select(Country.all.collect{|a| ["#{a.country_name}", a.id]}, params[:source_id] ), class: "form-control", :style => "height:40px"%>
                      </div>
                      <div class = "form-group">
                         <%=label_tag "Destination"%>
                          <%= select_tag :destination_id,
                                        options_for_select(Country.all.collect{|a| ["#{a.country_name}", a.id]}, params[:destination_id] ), class: "form-control", :style => "height:40px"%>
                       </div>
                       <div class = "form-group">
                        <%=label_tag "Visit purpose"%>
                          <%= select_tag :visit_purpose_id,
                                        options_for_select(VisitPurpose.all.collect {|a| ["#{a.visit_name}", a.id]}, params[:visit_purpose_id] ), class: "form-control", :style => "height:40px"%>
                       </div>
                      <%= submit_tag "Search" %>
                <% end %>

              </div>
            </div>
          </div> 

      



        <div class="col-sm-9 col-md-9">
        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                </div>


                <div class="panel-body">
                    <div class="form-group">
                    <p id="notice"><%= notice %></p>
                            
                       <% @visa_infos.each do |visa_info| %>
                         # <%= hidden_field_tag("page_name", visa_info.id, :id => "hidden_visa_info_id") %>
                         # <%= hidden_field_tag("page_name", current_user.id, :id => "hidden_member_id") %>
                         <%= visa_info_id = visa_info.id %>
                        <% if visa_info.required%>
                        
                     
                      
                       <h3>Citizens of <%= (visa_info.nationality.try(:country_name) || "NA") %> <em>require </em><%= (visa_info.visit_purpose.try(:visit_name) || "NA") %> when traveling from <%= (visa_info.destination.try(:country_name) || "NA") %> to <%= (visa_info.source.try(:country_name) || "NA") %></h3>
                      <br>
                      <div class="visa">
                        <div><%= visa_info.visa_info.html_safe %></div>
                      </div>
                      <div><%= visa_info.links%></div>
                      <% else %>
                     <p>Citizens of <%= (visa_info.nationality.try(:country_name) || "NA") %><em> do not require </em><%= (visa_info.visit_purpose.try(:visit_name) || "NA") %> when traveling from <%= (visa_info.destination.try(:country_name) || "NA") %> to <%= (visa_info.source.try(:country_name) || "NA") %></p>
                     <br>
                      <div><%= visa_info.visa_info.html_safe %></div>
                     
                    
                     <div><%= visa_info.links %></div>

                    <% end %>
                    
                   <% end %>

                </div>
              
          
        </div>
        
      </div>
      <a class="btn btn-primary edit" href="#" role="button" align="right">Edit VISA info</a>
    
      <div id="comment-section"></div>

      <div>
        
        <!-- <form id="commentForm" action="/comments" method="POST">
          Comment:<br>
          <textarea rows="4" cols="50" name="comment">Comment here ... </textarea>
          <input type="hidden" name="visa_info_id" id="input-visa-info-id">
          <input type="hidden" name="member_id" id="input-member-id"><br><br>
          <input type="submit" value="Submit">
        </form> -->
        <%= form_tag comments_path, :method => 'post' do %>
  

          <div class="field">
            <%= label_tag "Comment: " %>
            <%= text_field_tag :body %>
          </div>

          <div class="field">

             <%= hidden_field_tag 'member_id', current_user.id %>
          </div>

          <div class="field">
             <%= hidden_field_tag 'visa_info_id', @visa_info_id %>
          </div>

          <div class="actions">
            <%= submit_tag "Submit" %>
          </div>

        <% end %>
      </div>
      <script type="text/javascript">
        // console.log("member_id = " + document.getElementById('hidden_member_id').value)
        // document.getElementById('input-visa-info-id').value = document.getElementById('hidden_visa_info_id').value
        // document.getElementById('input-member-id').value = document.getElementById('hidden_member_id').value
        getAllComments(document.getElementById('hidden_visa_info_id').value);
        getMemberName();
      </script>

    </div>
</div>

