<%= tinymce_assets %>
<div class="container">
<%= form_with(model: visa_info, local: true) do |form| %>
  <% if visa_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visa_info.errors.count, "error") %> prohibited this visa_info from being saved:</h2>

      <ul>
      <% visa_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :visa_info %>
    <%= form.text_area :visa_info, :class => "tinymce", :rows => 40, :cols => 10 %>
  
  </div>

  <div class="field">
    <%= form.label :links %>
    <%= form.text_area :links %>
  </div>


  <div class="field">
    
    <%= form.label :source_id %>
    <%= form.select :source_id,
        options_for_select(Country.all.collect{|s| ["#{s.country_name}", s.id]},
        selected: (@visa_info.source ? @visa_info.source.id : Country.first.id)
        ),
        {} %>
  </div>

  <div class="field">
    
    <%= form.label :destination_id%>
    <%= form.select :destination_id,
        options_for_select(Country.all.collect{|d| ["#{d.country_name}", d.id]},
        selected: (@visa_info.destination ? @visa_info.destination.id : Country.first.id)
        ),
        {} %>
  </div>

  <div class="field">
    
    <%= form.label :nationality_id%>
    <%= form.select :nationality_id,
        options_for_select(Country.all.collect{|n| ["#{n.country_name}", n.id]},
        selected: (@visa_info.nationality ? @visa_info.nationality.id : Country.first.id)
        ),
        {} %>
  </div>

   <div class="field">
     <%= form.label :visit_purpose_id %>
     <%= form.select :visit_purpose_id,
     options_for_select(VisitPurpose.all.collect {|a| ["#{a.visit_name}", a.id]},
     selected: (@visa_info.visit_purpose ? @visa_info.visit_purpose.id : VisitPurpose.first.id)),
      {} %>
   </div>

   <div class="field">
    <%= form.label :required %>
    <%= form.select :required, [["True", true] , ["False", false]] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
 <%= tinymce %>