<p id="notice"><%= notice %></p>

<h1>Visa Infos</h1>

<table>
  <thead>
    <tr>
      <th class="w-25">Visa info</th>
      <th class="w-25">Links</th>
      <th width = "10%"%>Source</th>
      <th width = "10%">Destination</th>
      <th width = "10%">Nationality</th>
      <th width = "10%">Visit purpose</th>
      <th width = "10%">Required</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visa_infos.each do |visa_info| %>
      <tr>
        <td><%= visa_info.visa_info %></td>
        <td><%= visa_info.links %></td>
        <td><%= (visa_info.source.try(:country_name) || "NA") %></td>
        <td><%= (visa_info.destination.try(:country_name) || "NA") %></td>
        <td><%= (visa_info.nationality.try(:country_name) || "NA") %></td>
        <td><%= (visa_info.visit_purpose.try(:visit_name) || "NA") %></td>
        <td><%= visa_info.required %></td>
        <td><%= link_to 'Show', visa_info %></td>
        <td><%= link_to 'Edit', edit_visa_info_path(visa_info) %></td>
        <td><%= link_to 'Destroy', visa_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visa Info', new_visa_info_path %>
