<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @member.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @member.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @member.contact_number %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
