<p id="notice"><%= notice %></p>
<h1>
  <%= gravatar_for @member %>
  
</h1>

<p>
  <strong>Mem first name:</strong>
  <%= @member.mem_first_name %>
</p>

<p>
  <strong>Mem last name:</strong>
  <%= @member.mem_last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @member.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @member.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
